.snippet {
    padding: 0;
}

.snippet-header {
    font-size: 180%;
}

.snippet-body {
    font-size: 130%;
    padding: 0;
}

.snippet-row {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;

}